<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <h2>Cadastro</h2>
        <form method="POST" action="/register">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="password" name="password_confirm" placeholder="Confirme a Senha" required> <!-- Novo campo -->
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="/">Faça login</a></p>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
